.about-factory {
  background: #FAFAFA;
}

.about-factory__column {
  padding-top: 40px;
  padding-bottom: 52px;

  button {
    max-width: 170px;
    width: 100%;
  }

  p {
    font-size: 1em;
    line-height: 23px;
    color: #555555;
  }
}

.about-factory_redLine {
  width: 67px;
  height: 3px;
  background: #E87164;
  display: block;
  margin-bottom: 20px;
}

.h2.about-factory__title {
  margin-bottom: 20px;
  display: block;
}

.about-factory__bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .about-factory__column {
    padding-top: 0;
    padding-bottom: 0;
  }

  .about-factory__bg {
    height: 200px;
    background-size: 100%;
    margin-bottom: 30px;
  }

  .about-factory {
    padding-bottom: 30px;
  }
}