.card-stage {
  min-height: 388px;
  height: 100%;

  .card-title {
    font-size: 20px;
    line-height: 29px;
    color: #555555;
  }

  .card-text {
    font-size: 1em;
    line-height: 23px;
    color: #555555;
  }

  .card-body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.card-stage__img {
  min-height: 146px;
  height: 146px;
  position: relative;
  overflow: hidden;

  .card-img-top {
    height: 100%;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 575.98px) {
  .card-stage {
    min-height: auto;
  }
}