@import "../library.blocks/bootstrap/bootstrap-reboot";

* {
  font-family: 'Noto Sans SC', sans-serif;
}

body.paints-body {
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.paints-body {
  .h2 {
    font-size: 2.369em;
  }

  .h3 {
    font-size: 1.777em;
  }

  .h4 {
    font-size: 1.333em;
  }
}

.btn.btn-paints {
  border-radius: 20px;
  background: #ffffff;
}

.btn.btn-paints-width {
  max-width: 109px;
  width: 100%;
}

.btn-outline-secondary.btn-paints {
  font-size: 0.75em;
  line-height: 19px;
  color: #333333;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paints-body {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
  .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1,
  .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
  .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
  .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3,
  .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
  .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1,
  .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
  .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.line-red {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -6px;
    margin: auto;
    left: 0;
    right: 0;
    background: #E87164;
    width: 67px;
    height: 3px;
    border-radius: 30px;
  }
}

.label {
  position: absolute;
  z-index: 1;
  min-width: 76px;
  height: 32px;
  padding-left: 15px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  margin-top: 22px;

  p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 17px;
    color: #FFFFFF;
  }

  .label_star {
    background: url("../img/Star.svg") no-repeat center;
    background-size: 100% auto;
    width: 15px;
    height: 14px;
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    right: -9px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 9px 0 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: -9px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 32px 9px;
    border-color: transparent transparent transparent transparent;
  }
}

.label-red {
  background: linear-gradient(225.8deg, #E96F67 8.79%, #EE5050 93.01%);

  &:before {
    border-color: #E86E67 transparent transparent transparent;
  }
}

.label-blue {
  background: linear-gradient(236.06deg, #5F87E0 8.79%, #4B6EBE 93.01%);

  &:before {
    border-color: #5D83DC transparent transparent transparent;
  }
}

.label-green1 {
  background: linear-gradient(53.46deg, #4FD1B6 6.23%, #5AF9A4 89.47%);

  &:before {
    border-color: #59F8A4 transparent transparent transparent;
  }
}

.label-green2 {
  background: linear-gradient(42.95deg, #47BAA1 6.23%, #59CD8F 89.47%);

  &:before {
    border-color: #59CD8F transparent transparent transparent;
  }
}

.section-brands {
  padding-bottom: 60px;
  padding-top: 50px;
}

.separator {
  min-width: 2px;
  background: #E0DDE7;
  height: 90%;
  position: relative;
  bottom: -60px;

  .separator-circle {
    background: #FAFAFA;
    min-width: 23px;
    height: 23px;
    border: 6px solid;
    border-color: #ED5453;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 12px;
    left: -11px;
  }
}

.watercolor-painting-content {
  margin-top: 35px;
  margin-bottom: 40px;
}

.category-section__link:hover {
  text-decoration: none;
}

.section-brands__link:hover {
  text-decoration: none;
}

.type-coating__title.h3 {
  margin-bottom: 36px;
  display: block;
}

.type-coating {
  padding-bottom: 120px;
}

.news-inset-ch {
  margin-top: 44px;
}

@media (max-width: 767.98px) {
  body.paints-body {
    font-size: 14px;
  }
}