.featuresSeries {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.featuresSeries__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  min-width: 84px;
  height: 84px;
}

.featuresSeries__img-icon {
  width: 84px;
  height: 84px;
  display: block;
  border-radius: 50%;
}

.featuresSeries__step-1 {
  background: url("../img/featuresSeries__step-1.png") no-repeat center;
  background-size: 100% auto;
}

.featuresSeries__step-2 {
  background: url("../img/featuresSeries__step-2.png") no-repeat center;
  background-size: 100% auto;
}

.featuresSeries__step-3 {
  background: url("../img/featuresSeries__step-3.png") no-repeat center;
  background-size: 100% auto;
}

.featuresSeries__step-4 {
  background: url("../img/featuresSeries__step-4.png") no-repeat center;
  background-size: 100% auto;
}
