footer {
  background: #545558;
}

.footer-menu {
  border-bottom: 1px solid #6F6E74;
}

.footer-menu__ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-left: 0;

  li {
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: #fff;
    font-size: 1em;
    line-height: 23px;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.footer-contact {
  padding-top: 32px;
  padding-bottom: 22px;
}

.footer-copy {
  background: #414247;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-icon-point {
  background: url("../img/location-point.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 34px;
  display: block;
}

.footer-icon-phone {
  background: url("../img/phone-call.svg") no-repeat center;
  background-size: 100% auto;
  width: 32px;
  height: 32px;
  display: block;
}

.footer-contact__location {
  color: #ffffff;
  font-size: 1em;
  line-height: 23px;
  display: flex;

  p {
    margin-bottom: 0;
  }
}

.footer-contact__location-text {
  padding-left: 20px;
}

.footer-contact__phone {
  display: flex;
  font-size: 1em;
  line-height: 22px;
  color: #FFFFFF;

  p {
    margin-bottom: 12px;
  }
}

.footer-contact__phone-text {
  margin-left: 17px;
}

.footer-copy__container {
  max-width: 610px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer-copy__reg-number {
  background: url("../img/footer-copy__reg-number.png") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 27px;
  display: block;
  margin-right: 14px;
}

.footer-copy__china-icon {
  background: url("../img/gwab.png") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 14px;
}

.footer-copy__block {
  display: flex;
  align-items: center;

  p {
    margin-bottom: 0;
    font-size: 0.8em;
    line-height: 19px;
    color: #FFFFFF;
  }
}

@media (max-width: 767.98px) {
  footer {
    padding-bottom: 71px;
  }
}

@media (max-width: 460px) {
  .footer-menu__ul {
    flex-direction: column;
    //align-items: flex-start;

    li {
      margin-right: 0;
      margin-bottom: 8px;
      margin-top: 8px;
      position: relative;

      &:hover {
        &:before {
          content: '';
          position: absolute;
          bottom: -8px;
          background: #ffffff;
          width: 100%;
          height: 2px;
          transition: 0.3s;
        }
      }
    }
  }
}