.paints-heading {
  background: #F6F4F5;
}

.paints-heading__container {
  position: relative;
  overflow: hidden;
  height: 178px;
  display: flex;
  align-items: center;

  .h2 {
    font-weight: bold;
    color: #333333;
    position: relative;
    z-index: 1;
  }
}

.paints-heading__bg-img {
  right: -30px;
  top: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center top;
  //background-position: 75% 100%;
  background-size: auto 100%;
  width: 80%;
  height: 178px;
}

@media (max-width: 991.98px) {
  .paints-heading__bg-img {
    background-size: 100% 100%;
  }
}

@media (max-width: 575.98px) {
  .paints-heading__bg-img {
    background-size: cover;
    width: 100%;
    right: 0;
  }
}