.project-news {
  background: #FAFAFA;
  padding-top: 21px;
  padding-bottom: 41px;
}

.card.project-news__card {
  border: none;
  background: initial;

  .card-body {
    padding-right: 5px;
  }

  .card-title {
    font-size: 20px;
    line-height: 26px;
    color: #555555;
  }

  .card-text {
    font-size: 1em;
    line-height: 26px;
    color: #555555;
  }
}

.project-news__card-img {
  position: relative;
  overflow: hidden;

  .card-img-top {
    width: 100%;
  }
}

.project-news__list {
  max-width: 585px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  .media {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .media-body {
    p {
      font-size: 1em;
      line-height: 23px;
      color: #555555;
    }
  }
}

.project-news__item {
  margin-bottom: 30px;
}

.project-news__img-block {
  overflow: hidden;
  position: relative;

  img {
    border-radius: 6px;
  }
}

.project-news__list-btn {
  margin-left: 185px;
}

.project-news__link-arrow {
  background: url("../img/project-news-arrow.svg") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.project-news__data {
  background: linear-gradient(229.6deg, #E96F67 8.79%, #EE5050 93.01%);
  max-width: 75px;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 0.8em;
  line-height: 17px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.225361);
  position: absolute;
  bottom: 10px;
}


/////////////////////////////////////

@media (max-width: 991.98px) {
  .project-news__list {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .project-news__item {
    .media {
      flex-direction: column;
    }
  }

  .project-news__img-block {
    width: 100%;
    img {
      margin-right: 0 !important;
      width: 100%;
    }
  }

  .project-news__list-btn {
    margin-left: 0;
  }

  .card.project-news__card .card-body {
    padding-left: 0;
  }

  .project-news__list {
    .media-body {
      padding-top: 15px;
    }
  }
}