.project-news {
  background: #FAFAFA;
  padding-top: 21px;
  padding-bottom: 41px;
}

.card.project-news__card {
  border: none;
  background: initial;

  .card-body {
    padding-right: 5px;
  }

  .card-title {
    font-size: 20px;
    line-height: 26px;
    color: #555555;
  }

  .card-text {
    font-size: 1em;
    line-height: 26px;
    color: #555555;
  }
}

.project-news__card-img {
  position: relative;
  overflow: hidden;

  .card-img-top {
    width: 100%;
  }
}

.project-news__list {
  .media {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .media-body {
    p {
      font-size: 1em;
      line-height: 23px;
      color: #555555;
    }
  }
}

.project-news__list {
  .project-news__item:first-child {
    float: left;
    max-width: 41%;
    margin-right: 30px;

    .media {
      flex-direction: column;
    }

    .project-news__img-block {
      width: 100%;
      max-width: 100%;
      height: 280px;
      margin-right: 0;
    }

    .media-body {
      margin-top: 25px;
      padding-left: 20px;

      p:first-child {
        font-size: 1.25em;
        margin-bottom: 12px !important;
      }
    }

    .project-news__list-btn {
      margin-left: 20px;
    }
  }
}

.project-news__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  float: right;
  max-width: 55%;
}

.project-news__img-block {
  overflow: hidden;
  position: relative;
  max-width: 166px;
  width: 100%;
  height: 118px;
  margin-right: 24px;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.project-news__list-btn {
  margin-left: 185px;
}

.project-news__link-arrow {
  background: url("../img/project-news-arrow.svg") no-repeat center;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.project-news__data {
  background: linear-gradient(229.6deg, #E96F67 8.79%, #EE5050 93.01%);
  max-width: 75px;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 0.75em;
  line-height: 17px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.225361);
  position: absolute;
  bottom: 10px;
}


/////////////////////////////////////

@media (max-width: 991.98px) {
  .project-news__list {
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }

  .project-news__list .project-news__item:first-child {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .project-news__item {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .project-news__list .project-news__item:first-child {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;

    .media-body {
      padding-left: 0;
      margin-top: 0;
    }

    .project-news__list-btn {
      margin-left: 0;
    }

    .project-news__img-block {
      height: 150px;
    }
  }

  .project-news__item {
    .media {
      flex-direction: column;
    }
  }

  .project-news__img-block {
    width: 100%;
    max-width: 100%;
    height: 150px;
  }

  .project-news__list-btn {
    margin-left: 0;
  }

  .card.project-news__card .card-body {
    padding-left: 0;
  }

  .project-news__list {
    .media-body {
      padding-top: 15px;
    }
  }
}